---
layout: default
permalink: licenses/
class: license-types
title: Licenze
---

<p>Le licenze opensource garantiscono a chiunque di usare, modificare e condividere il software per ogni scopo, salvo condizioni che preservino l'origine e la libertà del software. Le seguenti licenze sono ordinate da quella con le più forti condizioni (GNU AGPLv3) a quella senza condizioni (Unlicense). Nota che le popolari licenze citate in <a href="{{ site.url }}">home page</a> (GNU GPLv3 e MIT License) rientrano entro questo spettro.</p>
<p style="font-size:small; margin-bottom: 40px">Se stai cercando una tabella di riferimento di tutte le licenze qui contemplate, consulta <a href="{{ site.url }}/appendix">questa pagina</a>.</p>

{% include license-overview.html license-id="agpl-3.0" %}
{% include license-overview.html license-id="gpl-3.0" %}
{% include license-overview.html license-id="lgpl-3.0" %}
{% include license-overview.html license-id="mpl-2.0" %}
{% include license-overview.html license-id="apache-2.0" %}
{% include license-overview.html license-id="mit" %}
{% include license-overview.html license-id="unlicense" %}

Le suddette licenze rappresentano l'intera gamma delle licenze opensource, da quelle protettive a quelle incondizionate. Una tra queste dovrebbe andare bene per la maggior parte dei progetti. Esistono molte altre licenze opensource, incluse vecchie versioni e sostituti di queste. Consulta le risorse elencate nella nostra <a href="{{ site.url }}/about/">pagina di informazioni</a> se vuoi saperne di più.

