      <footer class="site-footer clearfix">
        <nav>
          <a href="{{ site.url }}/about/">About</a>
        </nav>
        <p>
          I contenuti di questo sito sono distribuiti secondo i termini della licenza <a href="https://creativecommons.org/licenses/by/3.0/">
          Creative Commons Attribution 3.0 Unported</a>.
        </p>
        <div class="with-love">
          Mantenuto con &lt;3 da <a href="https://www.ils.org/">Italian Linux Society</a> sulla base del progetto <a href="https://github.com/github/choosealicense.com">ChooseALicense.com di GitHub</a>
        </div>
      </footer>

    </div> <!-- /container -->

    {% if page.collection == "licenses" or page.class == "license-types" %}
    <script src="{{ site.url }}/assets/vendor/jquery/jquery.min.js"></script>
    <script src="{{ site.url }}/assets/vendor/qtip2/jquery.qtip.min.js"></script>
    <script src="{{ site.url }}/assets/vendor/clipboard/dist/clipboard.min.js"></script>
    <script>
      window.annotations = {{ site.data.rules | jsonify }};
    </script>
    <script src="{{ site.url }}/assets/js/app.js"></script>
    {% endif %}

    <!-- Piwik -->
    <script type="text/javascript">
      var _paq = _paq || [];
      _paq.push(['disableCookies']);
      _paq.push(['trackPageView']);
      _paq.push(['enableLinkTracking']);
      (function() {
        var u="//stats.madbob.org/";
        _paq.push(['setTrackerUrl', u+'piwik.php']);
        _paq.push(['setSiteId', 8]);
        var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
        g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
      })();
    </script>
    <noscript><p><img src="//stats.madbob.org/piwik.php?idsite=8" style="border:0;" alt="" /></p></noscript>
    <!-- End Piwik Code -->

  </body>
</html>
