      <footer class="site-footer clearfix">
        <nav>
          <a href="/about/">About</a>
        </nav>
        <p>
          I contenuti di questo sito sono distribuiti secondo i termini della licenza <a href="https://creativecommons.org/licenses/by/3.0/">
          Creative Commons Attribution 3.0 Unported</a>.
        </p>
        <div class="with-love">
          Mantenuto con &lt;3 da <a href="https://www.ils.org/">Italian Linux Society</a> sulla base del progetto <a href="https://github.com/github/choosealicense.com">ChooseALicense.com di GitHub</a>
        </div>
      </footer>

    </div> <!-- /container -->

    {% if page.collection == "licenses" or page.class == "license-types" %}
    <script src="/assets/vendor/jquery/jquery.min.js"></script>
    <script src="/assets/vendor/qtip2/jquery.qtip.min.js"></script>
    <script src="/assets/vendor/clipboard/dist/clipboard.min.js"></script>
    <script>
      window.annotations = {{ site.data.rules | jsonify }};
    </script>
    <script src="/assets/js/app.js"></script>
    {% endif %}

  </body>
</html>
